In [2]:

import pandas as pd
import numpy as np


Open CSV File

The source of file is kaggle: https://www.kaggle.com/datasets/debajyotipodder/co2-emission-by-vehicles

In [5]:
df = pd.read_csv("CO2Emissions_Canada.csv")
df.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

Describing out DATA

In [6]:
df.describe()

,Engine Size(L),Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
count,7385.000000,7385.000000,7385.000000,7385.000000,7385.000000,7385.000000,7385.000000
mean,3.160068,5.615030,12.556534,9.041706,10.975071,27.481652,250.584699
std,1.354170,1.828307,3.500274,2.224456,2.892506,7.231879,58.512679
min,0.900000,3.000000,4.200000,4.000000,4.100000,11.000000,96.000000
25%,2.000000,4.000000,10.100000,7.500000,8.900000,22.000000,208.000000
50%,3.000000,6.000000,12.100000,8.700000,10.600000,27.000000,246.000000
75%,3.700000,6.000000,14.600000,10.200000,12.600000,32.000000,288.000000
max,8.400000,16.000000,30.600000,20.600000,26.100000,69.000000,522.000000

companies of cars which are present in our data(make) in order

In [8]:
make_counts = df["Make"].value_counts()
make_counts_table = pd.DataFrame({'Make': make_counts.index, 'Count': make_counts.values})
make_counts_table.head(len(make_counts_table))

             Make  Count
0            FORD    628
1       CHEVROLET    588
2             BMW    527
3   MERCEDES-BENZ    419
4         PORSCHE    376
5          TOYOTA    330
6             GMC    328
7            AUDI    286
8          NISSAN    259
9            JEEP    251
10          DODGE    246
11            KIA    231
12          HONDA    214
13        HYUNDAI    210
14           MINI    204
15     VOLKSWAGEN    197
16          MAZDA    180
17          LEXUS    178
18         JAGUAR    160
19       CADILLAC    158
20         SUBARU    140
21          VOLVO    124
22       INFINITI    108
23          BUICK    103
24            RAM     97
25        LINCOLN     96
26     MITSUBISHI     95
27       CHRYSLER     88
28     LAND ROVER     85
29           FIAT     73
30          ACURA     72
31       MASERATI     61
32    ROLLS-ROYCE     50
33   ASTON MARTIN     47
34        BENTLEY     46
35    LAMBORGHINI     41
36     ALFA ROMEO     30
37        GENESIS     25
38          SCION     22
39          SMART      7
40        BUGATTI      3
41            SRT      2

Different type of cars

In [9]:
vc_counts = df["Vehicle Class"].value_counts()
vc_counts_table = pd.DataFrame({'Vehicle Class': vc_counts.index, 'Count': vc_counts.values})
vc_counts_table.head(len(make_counts_table))

               Vehicle Class  Count
0                SUV - SMALL   1217
1                   MID-SIZE   1133
2                    COMPACT   1022
3             SUV - STANDARD    735
4                  FULL-SIZE    639
5                 SUBCOMPACT    606
6    PICKUP TRUCK - STANDARD    538
7                 TWO-SEATER    460
8                MINICOMPACT    326
9      STATION WAGON - SMALL    252
10      PICKUP TRUCK - SMALL    159
11                   MINIVAN     80
12   SPECIAL PURPOSE VEHICLE     77
13           VAN - PASSENGER     66
14  STATION WAGON - MID-SIZE     53
15               VAN - CARGO     22

Different type of engines(regard to engine size)

In [10]:
engine_size_counts = df["Engine Size(L)"].value_counts()
engine_size_counts_table = pd.DataFrame({'Engine Size(L)': engine_size_counts.index, 'Count': engine_size_counts.values})
engine_size_counts_table.head(len(make_counts_table))

    Engine Size(L)  Count
0              2.0   1460
1              3.0    804
2              3.6    536
3              3.5    529
4              2.5    423
5              2.4    346
6              1.6    302
7              5.3    290
8              1.8    216
9              1.4    211
10             5.0    207
11             1.5    207
12             4.0    198
13             6.2    162
14             4.4    131
15             5.7    116
16             3.8    114
17             3.7    112
18             2.7     99
19             6.0     94
20             3.3     85
21             4.7     78
22             3.4     52
23             5.5     52
24             4.3     52
25             2.3     51
26             5.2     48
27             6.4     46
28             5.6     36
29             3.2     35
30             4.8     32
31             4.6     32
32             6.6     29
33             1.2     25
34             6.7     25
35             2.8     24
36             2.9     23
37             1.0     18
38             6.5     18
39             4.2     14
40             1.3     11
41             5.4      8

Different type of cylinders

In [11]:
cylinders_counts = df["Cylinders"].value_counts()
cylinders_counts_table = pd.DataFrame({'Cylinders': cylinders_counts.index, 'Count': cylinders_counts.values})
cylinders_counts_table.head(len(make_counts_table))

   Cylinders  Count
0          4   3220
1          6   2446
2          8   1402
3         12    151
4          3     95
5         10     42
6          5     26
7         16      3

revise data titles to enhance ease of use

In [13]:
new_column_names = {
    'Make': 'Make',
    'Model': 'Model',
    'Vehicle Class':'VehicleClass',
    'Engine Size(L)': 'EngineSize',
    'Cylinders': 'NumberOfCylinders',
    'Fuel Type':'FuelType',
    'Fuel Consumption City (L/100 km)':'FuelConsumptionCity',
    'Fuel Consumption Hwy (L/100 km)':'FuelConsumptionHwy',
    'Fuel Consumption Comb (L/100 km)': 'FuelConsumption',
    'CO2 Emissions(g/km)': 'CO2Emissions'
}

cdf = df.rename(columns=new_column_names)

In [14]:
cdf = cdf[['Make','Model','EngineSize','NumberOfCylinders','FuelConsumption','CO2Emissions']]
cdf.head(10)

,Make,Model,EngineSize,NumberOfCylinders,FuelConsumption,CO2Emissions
0,ACURA,ILX,2.0,4,8.5,196
1,ACURA,ILX,2.4,4,9.6,221
2,ACURA,ILX HYBRID,1.5,4,5.9,136
3,ACURA,MDX 4WD,3.5,6,11.1,255
4,ACURA,RDX AWD,3.5,6,10.6,244
5,ACURA,RLX,3.5,6,10.0,230
6,ACURA,TL,3.5,6,10.1,232
7,ACURA,TL AWD,3.7,6,11.1,255
8,ACURA,TL AWD,3.7,6,11.6,267
9,ACURA,TSX,2.4,4,9.2,212